*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    direction: rtl;
    background-image: linear-gradient($color-grey-light-1, $color-grey-light-2);
    font-family: $font-primary;
    font-size: 1.4rem;
    min-height: 200rem;
}
