@font-face {
    font-family: Shabnam;
    src: url('../Fonts/Shabnam.eot');
    src: url('../Fonts/Shabnam.woff') format('woff'),
        url('../Fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Shabnam;
    src: url('../Fonts/Shabnam-Bold.eot');
    src: url('../Fonts/Shabnam-Bold.woff') format('woff'),
        url('../Fonts/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Shabnam;
    src: url('../Fonts/Shabnam-Light.eot');
    src: url('../Fonts/Shabnam-Light.woff') format('woff'),
        url('../Fonts/Shabnam-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: Parastoo;
    src: url('../Fonts/Parastoo-Bold-FD.eot');
    src: url('../Fonts/Parastoo-Bold-FD.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Parastoo-Bold-FD.woff') format('woff'),
        url('../Fonts/Parastoo-Bold-FD.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Parastoo;
    src: url('../Fonts/Parastoo-FD.eot');
    src: url('../Fonts/Parastoo-FD.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Parastoo-FD.woff') format('woff'),
        url('../Fonts/Parastoo-FD.ttf') format('truetype');
    font-weight: normal;
}

.heading-2 {
    font-size: 3.5rem;
    font-family: $font-display;
    font-weight: lighter;
}

.heading-3 {
    font-size: 2.5rem;
    font-family: $font-display;
    font-weight: lighter;
}

.heading-4 {
    font-size: 2rem;
    font-family: $font-display;
    font-weight: lighter;
}

.heading-4 {
    font-size: 1.5rem;
    font-family: $font-display;
    font-weight: lighter;
}

.link:link,
.link:visited {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
    // margin: 3px;
    display: inline-block;
    z-index: 10;

    &:not(:last-of-type)::after {
        content: '|';
        color: currentColor;
        padding: 2px;
        transition: opacity 0.2s;
    }

    &:hover {
        transform: scale(1.05) rotate(-6deg);
        box-shadow: 0 0.5rem 1rem rgba($color-grey-dark-1, 0.1);
        color: $color-secondary-dark;

        &::after {
            opacity: 0;
        }
    }
}

p {
    font-size: 1.4rem;
    text-align: justify;
}
