// COLORS
$color-primary-dark: #a80038;
$color-primary-light: #fd0054;

$color-secondary-dark: #393e46;
$color-secondary-light: #f58b54;

$color-success: #7ed3b2;
$color-wrong: #cf455c;
$color-danger: #f77754;

$color-grey-light-1: #fffafa;
$color-grey-light-2: #fff7f7;
$color-grey-light-3: #dedede;

$color-grey-dark-3: #9e9e9e;
$color-grey-dark-2: #494949;
$color-grey-dark-1: #010101;

$font-primary: Parastoo;
$font-display: Shabnam;

$menu-transition-time: 0.5s;
