.meta {
    color: $color-grey-light-1;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--worst {
        background-color: $color-wrong;
    }

    &--medium {
        background-color: $color-danger;
    }

    &--best {
        background-color: $color-success;
    }

    &--wrong {
        background-color: $color-grey-light-1;
        color: $color-danger;
    }
}
